body{
    background-color: rgb(137, 81, 189);
}
h2{
    color: aliceblue;
}
.changes{
   display: grid;
   grid-template-columns: 1fr 2fr;
}
.change{
    margin-top: 30px;
}
.task{
    margin-left: 20px;
}
a{
    color:rgb(150, 233, 150);
    font-family: fantasy;
}
